<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../../public/index.css" />
    <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
            integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
            crossorigin="anonymous"
    />

   <title>{{title}}</title>
</head>

<body>
<nav id="nav-bar">
    <ul class="nav-links">
        <li class="nav-links-item"><a href="/">Home</a></li>
        <li class="nav-links-item"><a href="/#projects">Projects</a></li>
        <li id="about-link" class="">
            <a>About</a>
            <i id="mixes-url"><a href="/about/mixes">Mixes</a></i>
            <i><a href="/about/acba">ACBA</a></i>
            <i id="travel-url"><a href="/about/travel">Travel</a></i>
            <i>Cooking</i>
        </li>
        <li id="contact-url" class="nav-links-item">
            <a href="/contact">Contact</a>
        </li>
    </ul>
</nav>
{{{body}}}




</body>
</html>