@import "common/width";
$bg-shade: #2a3131;
$bg-Off-Shade: #37303033;
$highlighter: #7c9548;

.faded-cyan {
  color: #3a8080;
}

#about {
  position: fixed;
  top: 60px;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  padding-bottom: 5rem;
  z-index: 9;

  opacity: 0;

  animation: welcome-fade-in 4s ease-in-out;
  animation-fill-mode: forwards;
}

//==========  HEADERS ==========
.about-headers {
  position: absolute;
  left: 0;
  right: 0;
  padding: 5px 25px;
  letter-spacing: 3px;
  font-weight: 400;
  font-size: 4rem;
  top: -70px;
  //background-color: #0c2f2f;
  color: #d65f9b;
  font-family: "Thunderstorm";

  @include tablet {
    left: initial;
    right: initial;
  }

  @include desktop {
    font-size: 5rem;
    top: -90px;
  }
}

.highlighter {
  color: $highlighter;
}

//==========  Article 1 : stats ==========

.dev-profile-container {
}

#bio-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 3rem;

  @include tablet {
    padding: 2em 4em;
    flex-direction: row;
    margin-bottom: -3rem;
  }

  @include laptop {
  }
  //background-color: #630460;
  align-items: center;
}

.about-title {
  font-family: "Dolce Vita";
  font-size: 3rem;

  top: calc(20%);

  @include tablet {
    position: absolute;
  }
}

.stats {
  //background-color: #39b54a;
  font-family: Futura;
  border-top: 5px solid white;
  border-bottom: 5px solid white;
  margin: 45px;
  color: #ffffff;
  order: 1;

  @include tablet {
    flex-direction: row;
    order: 0;

    margin: 0;
    padding: 2em;
  }

  ul {
    list-style: none;
  }
}

.profile-image {
  position: relative;
  overflow: hidden;
  object-fit: contain;
  border: 5px solid white;
  //height: 25em;
  margin: 7px;

  @include tablet {
    max-width: 50%;
  }

  img {
    width: 100%;
  }
}

//==========  Article 2 : abilities ==========

#abilities-container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  padding: 14px;
  //flex-direction: column;
  font-family: sans-serif;

  #projects {
    flex-basis: 100%;

    @include tablet {
      flex-basis: 48%;
      //max-width: 42rem;
    }
  }

  #skills,
  #arsenal {
    flex: 1;

    position: relative;
    text-align: center;
    flex-basis: 100%;
    margin-top: 3rem;

    @media only screen and(min-width: 425px) {
      flex-basis: 25%;
      text-align: initial;
    }

    @include tablet {
      max-width: 49%;
      height: 10em;
    }

    @include laptop {
    }
  }

  @include tablet {
    flex-direction: row;
  }
}

#skills.slideInSkillsAndArsenal {
  -webkit-animation: slideInSkillsAndArsenal 0.5s
    cubic-bezier(0.165, 0.84, 0.44, 1) both;
  animation: slideInSkillsAndArsenal 0.5s cubic-bezier(0.165, 0.84, 0.44, 1)
    both;
  animation-fill-mode: forwards;
}

#arsenal.slideInSkillsAndArsenal {
  -webkit-animation: slideInSkillsAndArsenal 0.5s
    cubic-bezier(0.165, 0.84, 0.44, 1) both;
  animation: slideInSkillsAndArsenal 0.5s cubic-bezier(0.165, 0.84, 0.44, 1)
    both;
  animation-fill-mode: forwards;
}

@keyframes slideInSkillsAndArsenal {
  0% {
    right: -600px;
  }

  100% {
    right: 0;
  }
}

.headers {
  font-size: 41px;
  letter-spacing: 5px;
  font-weight: 200;
}

.abilities-item {
  position: relative;
  //display: inline-flex;
  display: inherit;
  color: #ffffff;
  //margin: 3rem 0;
  /* flex: 1; */
  /* flex-basis: 100%; */
  width: 100%;

  &:first-child {
    display: block;
    width: 100%;
  }

  ul {
    list-style: none;
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    max-width: 20rem;

    @include tablet {
      flex-basis: 40%;
      margin: 0;
    }

    li {
      padding-left: 6px;
      margin: 3px;
      background-color: #0c2f2f;
      width: 100%;

    }

  }

  @include tablet {
    //margin: 0;
    position: relative;
    display: inline-flex;
    color: #ffffff;
    margin: 3rem 0;

    flex: 1;
    flex-basis: 40%;
  }
  //border: 1px solid red;
}

.arsenal-title {
  color: rgba(138, 181, 50, 0.7);
}

.list {
  //background-color: #630460;

  .offset {
    margin-top: 21.5px;
  }

  ul {
    list-style: none;

    li {
      background-color: $bg-Off-Shade;
      //border-top: 1px solid white;
      //border-bottom: 1px solid white;
      //padding: 5px 2px;
      margin: 5px 0;

      h5 {
        color: $highlighter;
        margin-left: 12px;
        position: relative;
        display: contents;
        top: 6px;
      }
    }

    li:nth-last-child(1) {
      //border-bottom: 1px solid white;
    }
  }
}

.project-item {
  //display: flex;
  position: relative;
  margin: 3px;
  //flex-direction: column;

  &__wrapper {
    position: relative;
    border-top-color: #c2cccc6e;
    border-style: inset inset none none;
    display: block;
    width: 100%;
    //border: 1px solid #8c8b8b;
  }

  div:nth-child(1) {
    flex: 2;
    //background-color: #14ffe9;
    //width: 100%;

    flex-basis: 100%;
    @include tablet {
      //display: inline-flex;
    }
  }

  &__icon {
    display: inline-block;
    text-align: center;
    margin-right: 3px;
    padding: 16px;

    width: 100%;
    height: 100%;
    max-height: 75px;
    max-width: 75px;

    border: 3px double rgba(0, 255, 0, 0.2);
    background-color: $bg-Off-Shade;
    i {
      position: relative;
      font-size: 45px;
    }
  }

  &__content {
    display: inline-block;
    padding: 12px;
    background-color: $bg-Off-Shade;
    width: calc(100% - 85px);
    height: auto;

    h3 {
      color: cyan;
    }

    p {
      font-family: "Arvo", serif, Aleo;
      font-style: italic;
    }
  }

  &__show {
    position: relative;
    display: flex;
    align-content: center;
    height: 0;
    transition: height 400ms ease-in-out;
    border: 1px solid rgba(180, 206, 216, 0.4);
    z-index: 1;

    text-align: center;

    @include tablet {
      text-align: left;
    }

    &:after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      background-image: url(http://www.transparenttextures.com/patterns/green-dust-and-scratches.png);
      opacity: 0.4;
    }

    //img {
    //  height: 100%;
    //  width: 50%;
    //  max-width: 100%;
    //  max-height: 90%;
    //  z-index: 10;
    //}
  }

  &__container {
    overflow: hidden;
    position: relative;
    right: 0;
    width: 50%;
    height: 100%;
    max-height: 90%;
    z-index: 2;
    margin: auto;

    &__img-wrapper {
      position: relative;
      display: block;
      width: 100%;

      @include tablet {
        //display: inline-block;
        width: 50%;
        display: inline-block;
      }

      img {
        //width: 90%;
        width: calc(100vw - 10%);
        /* max-height: 100%; */
        /* display: inline-block; */
        margin: 2em 0;

        @include small-iphone-portrait {
          width: calc(100vw - 10%);
        }

        @include tablet {
          width: calc(50vw - 10%);
          //height: calc(50% - 4rem);
        }

        @include laptop {
          max-width: calc(100% - 2rem);
        }
      }
    }

    &__text {
      position: relative;
      background-color: #f0f8ff0d;
      //padding: 8em;

      font-family: Alcubierre, "Dolce Vita";
      display: block;
      text-align: center;
      margin-right: 5%;
      vertical-align: top;
      padding-bottom: 4em;

      svg {
        display: inline-block;
        margin: 0 auto;
      }

      ul {
        flex-basis: 10%;
        list-style: none;
        display: inline-block;
        margin: 0 auto;

        li {
          font-size: 1.2em;
        }
      }

      p {
        margin: 28px 10%;
        text-align: justify;
        //padding-right: calc(10% + 2em);
        //padding-left: calc(10% + 2em);

        @include desktop {
          font-size: 1.5em;
        }
      }

      input {
        display: inline-block;
        margin: 0 auto;
      }

      @include tablet {
        display: inline-block;
        width: 44%;

        height: 100%;
      }

      @include laptop {
        padding: 3% 0;
      }

      @include desktop {
        padding: 10% 0;
      }

      @include xl_4k{

      }


    }

    h1 {
      font-family: "Dolce Vita";
      display: block;
      color: hotpink;
      font-size: 3em;
      letter-spacing: 6px;
    }
  }
}

#test {
  opacity: 0;
  height: 0;

  transition: opacity 3s, width 2s;
}

//==========  PERSONAL SECTION  ==========
#personal {
  color: #ffffff;
  padding: 1em;
}

.personal-headers {
  font-weight: 400;
  font-size: 4rem;
  top: -60px;
  color: hotpink;
  font-family: "Thunderstorm";

  @include desktop {
    font-size: 5rem;
  }
}

.personal-container {
  align-self: center;

  @include desktop {
    display: flex;
  }
}

.personal-text {
  flex: 1;
  font-family: Alcubierre;
  padding: 0 0.5em;
  //border: 1px solid red;

  @include tablet {
    font-size: 1.4rem;
  }

  p {
    text-align: justify;
    @include tablet {
      margin: 16px;
    }
  }
}

.personal-img-container {
  display: block;
  position: relative;
  align-items: center;

  text-align: center; padding-bottom: 1rem;


  @include laptop{
    width: 68%;
    float: right;
  }
}

.personal-img {
  //margin: 6px;
  width: 30%; margin: 0 2px; padding: 0;
  display: inline-block;

  img {
    position: relative;
    border: 5px solid white;
    width: 100%;
  }



  @include tablet {

    width: 30%;
    //padding: 8px;
    //margin: 10px;
  }

  @include laptop{
  }


}

.hideAbout {
  opacity: 0;
}

.showAbout {
  opacity: 1;
}

.hideMain {
  opacity: 1;
  animation: welcome-fade-out 2s ease-in-out;
  animation-fill-mode: forwards;
}

.showMain {
  opacity: 1;
}

@keyframes welcome-fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes welcome-fade-in {
  0% {
    opacity: 0;
    position: fixed;
  }

  100% {
    opacity: 1;
  }
}

#users-icon {
  position: relative;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: #995780;

  svg {
    display: block;
    border: 1px solid red;
    //transform: translate(50% , 50%);
  }
}


#scroll-down-container {
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  width: 24px;
  height: 24px;
  z-index: 100;
  display: inline-block;
  bottom: 10rem;

  opacity: 0;
  transition: 8s ease-in-out;

}

.chevron {
  position: absolute;
  //display: inline-block;
  //margin: auto;
  left: 0;
  right: 0;


  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.scroll-text {
  display: block;
  margin-top: 75px;
  margin-left: -30px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}


#scroll-down-container.fadeIn02 {
  opacity: 1;
}