@import "constants/width";
$bg-shade : #2a3131;
$bg-Off-Shade : #37303033 ;
$highlighter: #7c9548;

.faded-cyan{
  color: #3a8080;
}

#about{
  position: fixed;
  top: 60px;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  padding-bottom: 5rem;
  z-index: 9;

  opacity: 0;

  animation: welcome-fade-in 4s ease-in-out;
  animation-fill-mode: forwards;

}

//==========  HEADERS ==========
.about-headers{
  position: absolute;
  letter-spacing:  3px;
  font-weight: 400;
  font-size: 4rem;
  top: -60px;
  //color: hotpink;
  color: #d65f9b;
  font-family: "Thunderstorm";
}

.highlighter{
  color: $highlighter;
}

//==========  Article 1 : stats ==========

.dev-profile-container{

}

#bio-container{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include tablet{
    padding: 2em 4em;
    flex-direction: row;
  }

  @include desktop{

  }
  //background-color: #630460;
  align-items: center;

}

.about-title{

  font-size: 3rem;

  top: calc(6%);

  @include tablet{
    position: absolute;
  }

}

.stats{
  //background-color: #39b54a;
  font-family: Futura;
  border-top: 5px solid white;
  border-bottom: 5px solid white;
  margin: 45px;
  color: #FFFFFF;
  order: 1;

  @include tablet{

    flex-direction: row;
    order: 0;

    margin: 0;
    padding: 2em;
  }

  ul{
    list-style: none;
  }
}

.profile-image{
  position: relative;
  overflow: hidden;
  object-fit: contain;
  border: 5px solid white;
  //height: 25em;

  @include tablet{
    max-width: 50%;
  }

  img{
    width: 100%;
  }
}

//==========  Article 2 : abilities ==========


#abilities-container{
  display: flex;
  //background-color: #39b54a21;
  padding: 56px;
  flex-direction: column;

  font-family: sans-serif;


  @include tablet{
    flex-direction: row;
  }

  //projects
  div:nth-child(1){
    flex: 2;
  }
}

.headers{
  font-size: 41px;
  letter-spacing: 5px;
  font-weight: 200;
}

.abilities-item{
  position: relative;
  flex: 1;
  color: #FFFFFF;
  margin: 3rem 0;

  @include tablet{
    margin: 0;
  }
  //border: 1px solid red;
}

.list{
  //background-color: #630460;
  width: 49%;

  .offset{
    margin-top: 21.5px;
  }

  ul{
    list-style: none;

    li{
      background-color: $bg-Off-Shade;
      //border-top: 1px solid white;
      //border-bottom: 1px solid white;
      padding: 5px 2px;
      margin: 3px;


      h5{
        color: $highlighter;
        margin-left: 12px;
        position: relative;
        display: contents;
        top: 6px;
      }
    }

    li:nth-last-child(1){
      //border-bottom: 1px solid white;
    }
  }
}

.project-item{
  display: flex;
  margin: 3px;
}

.project-icon{

  text-align: center;
  margin-right: 3px;
  padding: 16px;
  background-color: $bg-Off-Shade;

  i{

    position: relative;
    font-size: 45px;
  }

}

.project-text{
  display: inline-block;
  background-color: $bg-Off-Shade;
  padding: 5px;
  width: 89%;

  h3{
    color: cyan;
  }

  p{
    font-family: 'Arvo', serif , Aleo;
    font-style: italic;
  }
}

//==========  PERSONAL SECTION  ==========
#personal{
  color: #FFFFFF;
}

.personal-headers{

  font-weight: 400;
  font-size: 4rem;
  top: -60px;
  color: hotpink;
  font-family: "Thunderstorm";
}

.personal-container{
  //display: flex;
  padding: 2em;


  @include desktop{
    display: flex;
  }

}

.personal-text{
  flex: 2;
  font-family: Alcubierre;
  font-size: 1.4rem;
  //border: 1px solid red;
  p{

    margin: 16px;
    text-align: justify;
  }
}

.personal-img{
  flex: 1;

  //border: 1px solid lime;
  width: 100%;
  background-color: white;
  padding: 8px;
  margin: 10px;

  @include tablet{
    display: inline-block;
    width: 30%;
  }

  @include desktop{
    height: 31%;
  }

  img{
    position: relative;
    width: 100%;
  }
}

.hideAbout{
  opacity: 0;
}

.showAbout{
  opacity: 1;
}

.hideMain{
  opacity: 1;
  animation: welcome-fade-out 2s ease-in-out;
  animation-fill-mode: forwards;
}

.showMain{
  opacity: 1;
}


@keyframes welcome-fade-out {
  0%{
    opacity: 1;
  }

  100%{
    opacity: 0;
  }
}


@keyframes welcome-fade-in {
  0%{
    opacity: 0;
    position: fixed;
  }


  100%{
    opacity: 1;
  }
}
