@import "common/width";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
  background-color: black;
}

@font-face {
  font-family: Alcubierre;
  src: url("../../fonts/Alcubierre.woff");
}

@font-face {
  font-family: "Dolce Vita";
  src: url("../../fonts/Dolce_Vita.woff");
}

@font-face {
  font-family: Standaris;
  src: url("../../fonts/Standaris.woff");
}

@font-face {
  font-family: Thunderstorm;
  src: url("../../fonts/Thunderstorm-Update.woff");
}

@font-face {
  font-family: Digital-7;
  src: url("../../fonts/Digital-7.woff");
}

.gallery-travel__row {
  display: flex;
  text-align: center;
  flex-direction: row;
  position: relative;
}

.col {
  flex: 0 1 30%;
  display: inline-block;
}

#landing {
  position: relative;
  font-family: Alcubierre;
  color: azure;
  width: 100vw;
  height: 110vh;
  text-align: center;
  overflow: scroll;
  z-index: 10;

  background-attachment: fixed;
  background-image: url("../../img/nick-reynolds-788187-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  #black-bg{
    transition:1.75s ease-in-out;
    position:fixed;
    background:radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    height:100%;
    width:100%;

  }

  @include tablet {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../../img/umbrella.jpg");
  }

  #title-index {
    position: fixed;
    display: inline-block;

    top: 33%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #b947c8;
    width: 100%;
    padding: 9px 0px 9px 9px;
    font-family: "Dolce Vita";

    font-size: 3em;

    color: white;
    z-index: 100;
    opacity: 0;
    transition: 2s opacity ease-in-out;

    @include tablet {
      background: #b947c896;
      width: 70%;
    }
  }

  #title-index.fadeIn {
    opacity: 1;
  }

  #title-index.hide {
    opacity: 0;
  }

  .slideLeft {
    animation: 1s ease-in-out slideLeft;
    animation-fill-mode: forwards;
  }

  .slideRight {
    animation: 1s ease-in-out slideRight;
    animation-fill-mode: forwards;
  }

  @keyframes slideLeft {
    0% {
      left: 0;
    }

    100% {
      left: -520px;
    }
  }
}

#bg-img{
  background-image: url("../../img/nick-reynolds-788187-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#bg-img.show {
  opacity: 1;
}

#black-bg {
  transition: 1.75s ease-in-out;
  position: fixed;

  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  height: 100%;
  width: 100%;
}

#bg-img.showIndexBg {
  opacity: 1;
}

#bg-img.hideIndexBg {
  opacity: 0;
}

.lead-image {
  background-color: #630460;
}

.button {
  font-family: Dolce Vita;
  font-weight: bolder;
  letter-spacing: 5px;
  background-color: #873e68;
  color: antiquewhite;
  font-size: 22px;
  width: 16rem;
  height: 3rem;
  border-radius: 4px;
  z-index: 100;
  transform: scale(1);
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

@import "spinner";
@import "header";
@import "about";
@import "audio-player";
@import "mixes";
@import "travel";
@import "contact";
@import "landing/controller";
@import "acba";
@import "footer";
@import "common/common";


