*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

body{

}



#blue-lines{
  height: 30rem;
  width: 100vw;
  background-color: #f26522;
  position: fixed;
  object-fit: contain;
  z-index: 10;
  overflow: hidden;
  background: url("../../img/pawel-czerwinski-1020731-unsplash.jpg") no-repeat fixed;
  background-size: cover
;
  //background-position: right 20px bottom -200px;


  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 62%);




}



#main{

  font-family: Alcubierre;
  color: azure;
  width: 100vw;
  height: 110vh;

  position: relative;
  overflow: auto;





  h1{
    font-family: Inter;
  }

  //background images
  #main-bg-img{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    object-fit: cover;
  }





  #title-index{
    position: fixed;
    top: 25%;

    font-size: 3em;
    left: 1em;
    color: white;
    background: tomato;
    z-index: 100;
  }

  #title-index.title-index-initial{
    left: 1em;
  }

  .slideLeft{
    animation: 1s ease-in-out slideLeft;;
    animation-fill-mode: forwards;
  }

  .slideRight{
    animation: 1s ease-in-out slideRight;;
    animation-fill-mode: forwards;
  }

  @keyframes slideLeft {
    0%{
      left: 0;
    }

    100%{
      left: -520px;
    }
  }

  @keyframes slideRight{
    0%{
      left: -520px;
    }

    100%{
      left: 1em;
    }
  }


  .subTitle{
    top: 12em;
    z-index: 10;
    position: fixed;
  }








  //-------------------------------

  #main-bg-img{
    transition: 1.75s ease-in-out;
    position: fixed;
  }

  #black-bg{
    transition: 1.75s ease-in-out;
    position: fixed;

    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    height: 100%;
    width: 100%;
  }

  #main-bg-img.showIndexBg{
    opacity: 1;
  }

  #main-bg-img.hideIndexBg{
    opacity: 0;
  }







  .slideInFromRight{
    animation: 1s ease-out 0s 1 slideInFromRight;
    animation-fill-mode: forwards;
    opacity: 1;
  }

  .resetSlideInFromRight{
    animation: 1s ease-out 0s 1 resetSlideInFromRight;
    animation-fill-mode: forwards;
    //opacity: 0.2;
  }




}





.lead-image{
  background-color: #630460;
}




@import "header";
@import "landing/tiles";
@import "about";
@import "audio-player";
@import "mixes";
@import "travel";
@import "gallery";
@import "landing/controller";
@import "portfolio/portfolio";
@import "portfolio/cube";



@import "content";



