* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
  background-color: black;
}

@font-face {
  font-family: Alcubierre;
  src: url("../../fonts/Alcubierre.woff");
}

@font-face {
  font-family: "Dolce Vita";
  src: url("../../fonts/Dolce_Vita.woff");
}

@font-face {
  font-family: Standaris;
  src: url("../../fonts/Standaris.woff");
}

@font-face {
  font-family: Thunderstorm;
  src: url("../../fonts/Thunderstorm-Update.woff");
}

.gallery-travel__row {
  display: flex;
  flex-direction: row;
  position: relative;
  //width: 100%;
}

.col {
  flex: 0 1 30%;
  display: inline-block;
}

#main {
  position: relative;
  font-family: Alcubierre;
  color: azure;
  width: 100vw;
  height: 110vh;

  position: absolute;
  overflow: scroll;
  z-index: 10;

  h1 {
    font-family: Inter;
  }

  #title-index {
    position: fixed;
    top: 25%;

    font-size: 3em;
    left: 1em;
    color: white;
    background: tomato;
    z-index: 100;
    opacity: 0;
    transition: 2s opacity ease-in-out;
  }
  #title-index.fadeIn {
    opacity: 1;
  }

  #title-index.hide {
    opacity: 0;
  }

  #title-index.title-index-initial {
    left: 1em;
  }

  .slideLeft {
    animation: 1s ease-in-out slideLeft;
    animation-fill-mode: forwards;
  }

  .slideRight {
    animation: 1s ease-in-out slideRight;
    animation-fill-mode: forwards;
  }

  @keyframes slideLeft {
    0% {
      left: 0;
    }

    100% {
      left: -520px;
    }
  }

  //-------------------------------

  #main-bg-img {
    transition: 0.25s ease-in-out;
    position: fixed;
    opacity: 0;
    z-index: 2;

    img {
      width: 100%;
      height: 110vh;
    }
  }

  #main-bg-img.show {
    opacity: 1;
  }

  #black-bg {
    transition: 1.75s ease-in-out;
    position: fixed;

    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    height: 100%;
    width: 100%;
  }

  #main-bg-img.showIndexBg {
    opacity: 1;
  }

  #main-bg-img.hideIndexBg {
    opacity: 0;
  }
}

.lead-image {
  background-color: #630460;
}

.button {
  font-family: Dolce Vita;
  font-weight: bolder;
  letter-spacing: 5px;
  background-color: #873e68;
  color: antiquewhite;
  font-size: 22px;
  width: 16rem;
  height: 3rem;
  border-radius: 4px;
  z-index: 100;
  transform: scale(1);
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

@import "spinner";
@import "header";
@import "about";
@import "audio-player";
@import "mixes";
@import "travel";
@import "contact";
@import "landing/controller";
@import "acba";
