@import "constants/width";
@import "functions/functions";


#travel{

  position: relative;
  color: azure;
  background-color: #00ffff1f;
  background-size: cover;

  img{
    width: 100%;
    border: 1px solid cyan;
  }

  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    //background-color: #0000008c;
    background-color: rgba(12, 12, 12, 0.55);
    z-index: 0;
  }


  .initial-content{
    position: relative;
    &__title{
      position :absolute;
      font-family: Alcubierre;
      text-align: center;

      top: 1em;
      color: #FFFFFF;
      z-index: 10;

      font-size: 2rem;
      letter-spacing: 12px;
      font-weight: 200;

      @include tablet{
        font-size: 3rem;
        top: 10em;
      }

    }

    &__image{
      position: absolute;
    }
  }


  .travel-content-group{
    position: relative;
    margin-top: 60px;

    @include tablet{
      margin-top: 0;
    }
  }

  .modal-travel{
    margin: auto;
    //height: 74vh;
    img{
      width : 100%
    }

  }

  #animate-img-a{
    opacity:1;
    transition-property: opacity;
    transition-duration: 1s;

    img{
      width: 100%;
    }

  }

  #animate-img-b{
    opacity:1;
    transition-property: opacity;
    transition-duration: 1s;

    img{
      width: 100%;
    }
  }

  #animate-img-a.isHidden{

    h1{
      color: black;
    }
    color: black;
    opacity: 0;
    width: 0;
    max-width: 0;

  }

  #animate-img-b.isHidden{

    h1{
      color: black;
    }
    color: black;
    opacity: 0;
    width: 0;
    max-width: 0;

  }

  #animate-img-b.isShowing{
    opacity:1;

  }

  #animate-img-a.isShowing{
    opacity:1;

  }

}


.image-wrapper{
  position: relative;
  text-align: center;

  &__header{
    position: absolute;
    top: 1em;
    left: 0;
    right: 0;
    margin: auto;


    h1{
      font-family: "Dolce Vita";
      color: #FFFFFF;
      letter-spacing: 12px;
      font-weight: 100;

      @include desktop{
        font-size: 6rem;
      }
    }


    @include desktop{
      top :8rem;
    }

  }



}





.galleryOnHover{
  position: fixed;
  margin-top: 1em;

  background-color: #f0ffff17;
  width: 300px;
  max-height: 70vh;
  overflow: scroll;
  z-index: 90;


  left: $hide;
  transition: all 0.5s ease-in-out;


}




//====================Grand-Parent==============================
.gallery-travel{

  position: fixed;

  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;

  background-color: #f0ffff17;
  width: 300px;
  max-height: 30vh;
  overflow: scroll;
  z-index: 90;
  //left: -267px;
  transition: all 0.5s ease-in-out;

  @include tablet{
    max-height: 40vh;
    font-size: 0.75em;
  }




  &__container{
    overflow-y: scroll;
    max-height: 500px;


  }


  &__row{
    flex-wrap: wrap;
    padding: 0 4px;
    //transform: rotateY(48deg);
  }

  //------  Child -----

  &__column{
    padding: 0 4px;

    @media screen and (max-width: 800px) {
      flex: 50%;
      max-width: 50%;

    }

    @media screen and (max-width: 600px) {
      flex: 100%;
      max-width: 100%;

    }
  }

  &__image{
    display: inline;
  }


  img{
    max-width: 20%;
    margin-top: 8px;
    vertical-align: middle;

    &:hover{
      cursor: pointer;
    }
  }

}

.gallery-travel:before{

  position: absolute;
  content: attr(data-value);

  //right: 0;

  writing-mode: vertical-rl;//display vertical
  text-orientation: upright;//display vertical
  text-align: center; //in this case, vertically center

  line-height: 2em;  //horizontal center content

  font-family: Standaris;
  font-size: 14px;
  font-weight: 500;


  color: white;

  width: 30px;
  height: 100%;
  background-color: rgba(85, 117, 114, 0.3);

  @include tablet{
    font-size: 2em;
    line-height: 26px;
  }

  @include desktop{
   line-height: 26px;
  }

}



//==================================================

#gallery-travel.showMeTheMoney{
  opacity: 1;
  left: 0px;
}


.initial-content__title{
  font-family: Alcubierre;
  top: 10em;
  color: #FFFFFF;
  z-index: 10;
  height: 8%;
  width: 100%;
  display: block;
  font-size: 3rem;
  letter-spacing: 12px;

}

.text-travel{

  &__content{
    font-family: Alcubierre;

    font-size: 13px;
    align-self: center;
    padding: 2em;
    color: white;
    z-index: 100;

    text-align: justify;

    animation: fadeTravelText 2s ease-in-out;


    @include tablet{
      position: absolute;
      color: white;
      background-color: rgba(0, 0, 0, 0.75);
      bottom: 6em;
      right: 0;
      width: 35%
    }

    @include laptop{
      align-self: center;
      position: absolute;
      bottom: 40px;
      color: white;

      right: 74px;
      z-index: 100;
      width: 42%;
      text-align: justify;
    }

    h3{
      color: cyan;
    }

    @keyframes fadeTravelText {
      0%{
        opacity: 0;
        color: black;
      }

      100%{

        opacity: 1;
        color: white
      }
    }

  }
}








