<main>
    <div id="landing">
        <div id="black-bg"></div>
        <div id="bg-img"></div>
        <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>

        <h1 id="title-index">Welcome to ProletDev</h1>

        <div id="scroll-down-container">
            <div class="chevron"></div>
            <div class="chevron"></div>
            <div class="chevron"></div>
            <span class="scroll-text">Scroll down</span>
        </div>
    </div>

    <!--ABOUT SECTION-->
    <div id="about">
        <section class="dev-profile-container">

            {{> about-profile-stats whichList=about_profile_stats }}

            <!--Abilities-->

            {{> list whichList=list2}}

            <article id="abilities-container">
                <div class="abilities-item">
                    <h1 id="projects" class="about-headers">Projects</h1>
                    <!--========= ==========  Portfolio Projects ==========  ==========-->
                    {{> project-item whichProject=projects}}
                </div>

                <div id="skills" class="abilities-item">
                    <h1 class="about-headers">Skills</h1>
                    {{> list whichList=skills}}
                </div>

                <!--item-03-->
                <div id="arsenal" class="abilities-item">
                    <h1 class="about-headers">Arsenal</h1>
                    <ul>
                        <li class="arsenal-title"><h5>FRAMEWORKS</h5></li>
                        <li>React</li>
                        <li>Redux</li>
                        <li>Express</li>
                        <li>Bootstrap</li>
                        <li>Handlebars</li>
                        <li class="arsenal-title"><h5>TOOLS</h5></li>
                        <li>Git</li>
                        <li>Webpack</li>
                        <li>Babel</li>
                        <li>Gimp</li>
                        <!--<li>GIMP</li>-->
                    </ul>
                </div>

            </article>

            <!--    PERSONAL SECTION-->

            <article id="personal">
                <!--<div class="personal-container">-->
                <h1 class="personal-headers">Personal</h1>
                    <div class="personal-text">
                        <!--<div style="display: inline-block; width: 70%; float:right ;" class="personal-img-container">-->
                        <div class="personal-img-container">

                            {{>zoom-image whichImages=artistImage}}

                            <h5 style="font-family: 'Dolce Vita'; color: cyan">Favorite Artists</h5>

                        </div>

                        <p> Hello and welcome to Proletdev. As a UI designer and Fullstack Developer, my objectives
                            are to provide an engaging experience through artistic and sensible layouts that encourage the user to explore the content .I'm a self taught developer with past experiences in sales, merchandising, and
                            customer service which comes in handy : I aspire to create content that not only seeks to grab the user's attention but,
                            to also deliver company ethos & branding expressed through design.<br/><br/>
                            I also love to make and create which I express through my hobbies. Aside from my projects, this site also contains a few DJ mixes I've made,
                            photos I've take while traveling, some ACBA photos I've shot, and a few of my favorite recipes around the kitchen. Hope you enjoy and
                            thanks for stopping by. </p>
                        <!--<h3 style="color: white; z-index: 100" >Favorite Artist Corner</h3>-->
                    <!--</div>-->
                </div>

                <div id="controller-container">
                    <!--Part I -->
                    <div class="test"></div>
                    <div class="test2">
                        <img
                                src="../img/SNES_controller-removed-font3-holes.png"
                                alt=""
                        />
                    </div>

                    <!--Part II -->
                    <ul class="controller-btn-container">
                        <li id="y" class="btn y" onclick="snesRedirect(this.id)"></li>
                        <li id="x" class="btn x" onclick="snesRedirect(this.id)"></li>
                        <li id="b" class="btn b" onclick="snesRedirect(this.id)"></li>
                        <li id="a" class="btn a" onclick="snesRedirect(this.id)"></li>
                    </ul>

                    <!--Part III -->
                    <div class="lasers">
                        <div class="beam-one">
                            <div class="text-one">
                                <p>Mixes</p>
                            </div>
                        </div>

                        <div class="beam-two">
                            <div class="text-two">
                                <p>Heroes</p>
                            </div>
                        </div>

                        <div class="beam-three">
                            <div class="text-three">
                                <p>Cooking</p>
                            </div>
                        </div>

                        <div class="beam-four">
                            <div class="text-four">
                                <p>Travel</p>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </div>
</main>

<script src="/src/scripts/global.js/consts.js"></script>
<script src="/src/scripts/index.js"></script>

<script src="/src/scripts/navigation/header-navigation.js"></script>

<script src="/src/scripts/about/about.js"></script>

<script src="/src/scripts/keyboard-map/keyboard-map.js"></script>
<script src="/src/scripts/global.js/reponsive-resize-req-anim-frame.js"></script>

