<div id="nav-tab">
    navigation
</div>

<main id="travel">
    <figure class="initial-content">
        <h1 class="initial-content__title">Travel</h1>
    </figure>

    <div class="travel-content-group">
        <section class="modal-travel">
            <div id="animate-img-a"></div>
            <div id="animate-img-b"></div>
        </section>
    </div>

    <section class="text-travel"></section>
</main>

<section class="gallery-travel" data-value="Gallery">

    <div class="gallery-travel__container">

        {{>gallery-masonry-row whichCol=gallery_col}}

        </div>
    </div>
</section>

<script src="../src/scripts/global.js/consts.js"></script>
<script src="../src/scripts/navigation/header-navigation.js"></script>
<script src="../src/scripts/navigation/tab-drop-navbar.js"></script>
<script src="../src/scripts/travel.js"></script>
<script src="../src/scripts/global.js/reponsive-resize-req-anim-frame.js"></script>