<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../public/index.css">

    <link rel="stylesheet" type="text/css" href="../style/sass/landing/controller.scss">
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous">
    </script>

    <link href="https://fonts.googleapis.com/css?family=Lato|Metrophobic|Ubuntu" rel="stylesheet">

</head>
<body onscroll="scrollToTopAbout()" >

    <nav class="nav-bar">

        <div class="logo">
            <img src="../img/kisspng-wu-tang-wu-tang-clan-logo-wu-tang-forever-tang-5ae0345013fd09.9009980915246428960819.png" alt="">
        </div>

        <ul>
            <li><a href="http://localhost:8080/">Home</a></li>
            <li>Story</li>
            <li>About</li>
            <li>Contact</li>
        </ul>
    </nav>

    <div id="about">

        <!--<img class="not-top" src="../img/pawel-czerwinski-1020731-unsplash.jpg" alt="">-->

        <section class="dev-profile-container">


            <article id="bio-container">
                <div class="stats">
                    <h1 class="about-title">ABOUT</h1>

                    <ul>
                        <li>
                            <span class="highlighter">Name</span> : Tim Ocampo
                        </li>
                        <li>
                            <span class="highlighter">Position</span> : Front-end Web Developer & Web Designer
                        </li>
                        <li>
                            <span class="highlighter">Hometown</span> : Redwood City , CA
                        </li>

                        <li>
                            <span class="highlighter">Experience</span> : 2017 - Present
                        </li>

                    </ul>

                </div>

                <div class="profile-image">
                    <img src="../img/anna-goncharova-73258-unsplash%20copy.jpg" alt=""/>
                </div>
            </article>


            <article id="abilities-container">

                <div class="abilities-item">
                    <h1 class="about-headers">Projects</h1>


                    <div class="project-item">
                        <div class="project-icon">
                            <i class="fas fa-angle-down faded-cyan"></i>
                        </div>
                        <div class="project-text" >
                            <h3>DevConnector</h3>
                            <p>A React Project with login , registration, and social feed  </p>
                        </div>
                    </div>

                    <div class="project-item">

                        <div class="project-icon">
                            <i class="fas fa-angle-down faded-cyan"></i>
                        </div>

                        <div class="project-text" >
                            <h3>Dom's Noms</h3>
                            <p>A single SPA built wth react</p>
                        </div>

                    </div>

                    <div class="project-item">

                        <div class="project-icon">
                            <i class="fas fa-angle-down faded-cyan"></i>
                        </div>

                        <div class="project-text" >
                            <h3>Mostajo Photograph</h3>
                            <p>A single SPA built wth react</p>
                        </div>

                    </div>


                    <div class="project-item">

                        <div class="project-icon">
                            <i class="fas fa-angle-down faded-cyan"></i>
                        </div>

                        <div class="project-text" >
                            <h3>SB Sit N Stay</h3>
                            <p>A single SPA built wth react</p>
                        </div>

                    </div>
                </div>



                <div class="abilities-item">
                    <h1 class="about-headers">Skills</h1>

                    <div class="row">
                        <div class="col">
                            <h3></h3>

                            <!--<ul class="offset">-->
                            <ul>
                                <li>JavaScript</li>
                                <li>HTML</li>
                                <li>CSS</li>
                                <li>Sass</li>
                                <li>ES6</li>
                                <li>jQuery</li>

                            </ul>
                        </div>

                        <div class="col">
                            <!--<ul class="offset">-->
                            <ul>
                                <li>Node</li>
                                <li>mongoDB</li>
                                <li>mongoose</li>
                                <li>REST API</li>
                                <li>AJAX</li>
                            </ul>
                        </div>


                    </div>


                </div>

                <div class="abilities-item">
                    <h1 class="about-headers">Arsenal</h1>
                   <div class="row">
                       <div class="col">

                           <ul>
                               <li><h5>FRAMEWORKS</h5></li>
                               <li>React</li>
                               <li>Redux</li>
                               <li>Express</li>
                               <li>Bootstrap</li>

                           </ul>
                       </div>

                       <div class="col">
                           <ul>
                               <li><h5>TOOLS</h5></li>
                               <li>Git</li>
                               <li>Webpack</li>
                               <li>Babel</li>
                               <li>React Router</li>
                               <li>GIMP</li>
                           </ul>
                       </div>
                   </div>
                </div>
            </article>


        <!--    PERSONAL SECTION-->

            <article id="personal">
                <div class="personal-container">
                    <div class="personal-text">

                        <h1 class="personal-headers">Personal</h1>

                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
                        </p>

                    </div>

                    <div class="personal-img">
                        <img src="https://i.ibb.co/7bQFkM1/sankhadeep-barman-552356-unsplash.jpg" alt="">
                    </div>

                    <div class="personal-img">
                        <img src="https://i.ibb.co/zQBSHtg/Daredevil-The-Blind-Devil-Shirt.png" alt="">
                    </div>

                    <div class="personal-img">
                        <img src="https://picsum.photos/623" alt="">
                    </div>
                </div>

                <div id="controller-container">
                    <!--Part I -->
                    <img src="../img/SNES_controller-removed-font3-holes.png" alt="">

                    <!--Part II -->
                    <div class="controller-btn-container">
                        <div id="y" class="btn y" ></div>
                        <div id="x" class="btn x" onclick="snesRedirect(this.id)"></div>
                        <div id="b" class="btn b" ></div>
                        <div id="a" class="btn a" onclick="snesRedirect(this.id)"></div>
                    </div>

                    <!--Part III -->
                    <div class="lasers">

                        <div class="beam-one">
                            <div class="text-one">
                                <p>Mixes</p>
                            </div>
                        </div>


                        <div class="beam-two">
                            <div class="text-two">
                                <p>Heroes</p>
                            </div>
                        </div>

                        <div class="beam-three">
                            <div class="text-three">
                                <p>Cooking</p>
                            </div>
                        </div>

                        <div class="beam-four">
                            <div class="text-four">
                                <p>Travel</p>
                            </div>
                        </div>
                    </div>

                </div>


            </article>

        </section>
    </div>

    <script src="../scripts/keyboard-map/keyboard-map.js"></script>

    <!--<script src="../scripts/index.js"></script>-->

<script>


</script>

</body>

</html>