<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../public/index.css">
    <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">-->


    <title> | ACBA |</title>
</head>
<body>
    <nav class="nav-bar">
        <div class="logo">
            <img src="../img/kisspng-wu-tang-wu-tang-clan-logo-wu-tang-forever-tang-5ae0345013fd09.9009980915246428960819.png" alt="">
        </div>

        <ul>
            <li>Home</li>
            <li>Story</li>
            <li>About</li>
            <li>Contact</li>
        </ul>
    </nav>

    <div id="acba">
        <div id="acba-bg">
            <div class="stars"></div>
            <div class="stars1"></div>
            <div class="stars2"></div>
            <div class="shooting-stars"></div>
        </div>

        <div class="flex-container" style="
            position: relative;
            display: flex;
            z-index: 10;
            height: 100vh;
            width: 100vw;
            /*background-color: yellow;*/
            /*opacity: .1;*/
            /*border: 5px red solid;*/

            ">

            <div class="acba-text"
                 style="
                 display: flex;
                 flex-direction: column;
                 justify-content: center;
                 padding: 10px;
                 align-items: center;
                 height: 100vh;
                 width: 300px;
                 flex-basis: 40%;
                 color: white;
                 /*border: 1px lime dotted;*/

                 /*background-color: #f26522;*/
                 /*opacity: .1;*/">
                <h1 style="display: block" >| ARTICULATED COMIC BOOK ART |</h1>

                <h2> This section will be a showcase of my Marvel Legends and Transformers collection </h2>
                <p>
                    This is some Text This is some Text This is some Text This is some Text
                    This is some Text This is some Text This is some Text This is some Text
                    This is some Text This is some Text This is some Text This is some Text
                </p>

            </div>




        </div>


    </div>


    <!--<section id="heroes">-->
        <!--<h1>THIS IS THE PORTFOLIO PAGE</h1>-->
    <!--</section>-->


    <script src="../scripts/keyboard-map/keyboard-map.js"></script>

</body>
</html>