<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../../public/index.css" />
    <link rel="stylesheet" type="text/css" href="../style/sass/acba.scss" />
    <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">-->

    <title>| ACBA |</title>
  </head>
  <body>
    <div id="nav-tab">
      navigation
    </div>

    <nav id="nav-bar">
      <ul class="nav-links">
        <li class="nav-links-item"><a href="/">Home</a></li>
        <li class="nav-links-item"><a href="/#projects">Projects</a></li>
        <li id="about-link" class="">
          <a>About</a>
          <i id="mixes-url"><a href="/about/mixes">Mixes</a></i>
          <i><a href="/about/heroes">ACBA</a></i>
          <i id="travel-url"><a href="/about/travel">Travel</a></i>
          <i>Cooking</i>
        </li>
        <li id="contact-url" class="nav-links-item">
          <a href="/contact">Contact</a>
        </li>
      </ul>
    </nav>

    <div class="acba">
      <h1 class="acba__heading">ACBA</h1>
      <h3 class="acba__sub-heading">Articulate Comic Book Art</h3>

      <div class="acba__hero">
        <div class="acba__hero__tile marvel">
          <img src="https://s3-us-west-1.amazonaws.com/proletdev/deadpool-uncanny.png" alt="" />
        </div>
        <div class="acba__hero__tile transformers">
          <img src="https://s3-us-west-1.amazonaws.com/proletdev/megatron.png" alt="" />
        </div>
        <div class="acba__hero__tile gi-joe">
          <img src="../img/snake-eyes-2.jpg" alt="" />
        </div>
      </div>

      <div class="acba__info">
        <h1>Render Imagination</h1>
        <h4>What is ACBA?</h4>

        <div class="acba__info__text">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with
          the release of Letraset sheets containing Lorem Ipsum passages, and
          more recently with desktop publishing software like Aldus PageMaker
          including versions of Lorem Ipsum. Lorem Ipsum is simply dummy text of
          the printing and typesetting industry. Lorem Ipsum has
        </div>
      </div>

      <section>
        <header>
          <h1 class="x-men-heading">Avengers Assemble!</h1>
        </header>
        <article class="acba__article x-men">
          <div class="acba__article__image-container acba-left">
            <img src="https://s3-us-west-1.amazonaws.com/proletdev/avengers.jpg" />
          </div>

          <div class="acba__article__text-container acba-right">
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was
              popularised in the 1960s with the release of Letraset sheets
              containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of
              Lorem Ipsum. Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum has
            </p>
          </div>
        </article>
      </section>

      <section>
        <header>
          <h1>Mad Titan</h1>
        </header>

        <article class="acba__article thanos">
          <div class="acba__article__text-container acba-left">
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was
              popularised in the 1960s with the release of Letraset sheets
              containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of
              Lorem Ipsum. Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum has
            </p>
          </div>

          <div class="acba__article__image-container acba-right">
            <img src="https://s3-us-west-1.amazonaws.com/proletdev/thanos.jpg" />
          </div>
        </article>
      </section>

      <section>
        <header>
          <h1 class="x-men-heading">The Uncanny X-Men</h1>
        </header>
        <article class="acba__article x-men">
          <div class="acba__article__image-container acba-left">
            <img src="https://s3-us-west-1.amazonaws.com/proletdev/x-men-danger-room.jpg" />
          </div>

          <div class="acba__article__text-container acba-right">
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was
              popularised in the 1960s with the release of Letraset sheets
              containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of
              Lorem Ipsum. Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum has
            </p>
          </div>
        </article>
      </section>

      <section>
        <header>
          <h1>G.I. Joe</h1>
        </header>

        <article class="acba__article joes-01">
          <div class="acba__article__text-container acba-left">
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was
              popularised in the 1960s with the release of Letraset sheets
              containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of
              Lorem Ipsum. Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum has
            </p>
          </div>

          <div class="acba__article__image-container acba-right">
            <img src="https://s3-us-west-1.amazonaws.com/proletdev/duke-scarlet-lowlight.jpg" />
          </div>
        </article>
      </section>

      <section>
        <header>
          <h1 class="x-men-heading">Moon Knight</h1>
        </header>
        <article class="acba__article x-men">
          <div class="acba__article__image-container acba-left">
            <img src="https://s3-us-west-1.amazonaws.com/proletdev/moon-knight.jpg" />
          </div>

          <div class="acba__article__text-container acba-right">
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was
              popularised in the 1960s with the release of Letraset sheets
              containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of
              Lorem Ipsum. Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum has
            </p>
          </div>
        </article>
      </section>

      <section>
        <header>
          <h1>BullsEye</h1>
        </header>

        <article class="acba__article joes-01">
          <div class="acba__article__text-container acba-left">
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was
              popularised in the 1960s with the release of Letraset sheets
              containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of
              Lorem Ipsum. Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum has
            </p>
          </div>

          <div class="acba__article__image-container acba-right">
            <img src="https://s3-us-west-1.amazonaws.com/proletdev/bullseye.jpg" alt=""/>
          </div>
        </article>
      </section>
    </div>




    <script src="../scripts/navigation/header-navigation.js"></script>
    <script src="../scripts/navigation/tab-drop-navbar.js"></script>
  </body>
</html>
