<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>| Prolet Dev |</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../public/index.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!--<link rel="stylesheet" type="text/css" href="../style/sass/index.scss">-->


    <!--<script-->
            <!--src="https://code.jquery.com/jquery-3.3.1.js"-->
            <!--integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="-->
            <!--crossorigin="anonymous">-->
    <!--</script>-->


    <!--AOS Lib-->
    <!--<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">-->
    <!--<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>-->

</head>

<body>


<nav class="nav-bar">
    <div class="logo">
        <img src="../img/kisspng-wu-tang-wu-tang-clan-logo-wu-tang-forever-tang-5ae0345013fd09.9009980915246428960819.png" alt="">
    </div>

   <ul>
       <li>Home</li>
       <li>Story</li>
       <li>About</li>
       <li>Contact</li>
   </ul>
</nav>

<div id="blue-lines">
    <!--<img src="../img/anna-goncharova-73258-unsplash%20copy.jpg" alt="">-->
</div>

    <section id="main"  >
        <!--Desired Img @ ScrollPos 0 needs to come after img > ScrollPos 0 -->



        <!--DO NOT DELETE THESE!!!!!-->
        <div id="black-bg"></div>
        <img id="main-bg-img" src="../img/pawel-czerwinski-1311900-unsplash.jpg" alt=""/>




        <!--<h1 class="title">Portfolio Projects</h1>-->


        <h1 id="title-index">Welcome to ProletDev</h1>

        <div id="get-started">

           <div class="bars">
               <div></div>
               <div></div>
               <div></div>
               <div></div>
               <div></div>
               <div></div>

           </div>

            <h1>Get Started</h1>
        </div>


        <div id="controller-container">

            <!--Part I -->
            <img src="../img/SNES_controller-removed-font3-holes.png" alt="">

            <!--Part II -->
            <div class="controller-btn-container">
                <div id="y" class="btn y" ></div>
                <div id="x" class="btn x" onclick="snesRedirect(this.id)"></div>
                <div id="b" class="btn b" ></div>
                <div id="a" class="btn a" onclick="snesRedirect(this.id)"></div>
            </div>

            <!--Part III -->
            <div class="lasers">

                <div class="beam-one">
                    <div class="text-one">
                        <p>Profile</p>
                    </div>
                </div>


                <div class="beam-two">
                    <div class="text-two">
                        <p>About</p>
                    </div>
                </div>

                <div class="beam-three">
                    <div class="text-three">
                        <p>Portfolio</p>
                    </div>
                </div>

                <div class="beam-four">
                    <div class="text-four">
                        <p>Contact</p>
                    </div>
                </div>



            </div>






        </div>

        <div id="controller-shadow"></div>






        <!--<div id="tiles">-->
                    <!--<section class="loader-wrapper">-->
                        <!--<figure id="portfolio-icon" >-->

                            <!--<div class="loader-icon">-->
                                <!--<i class="far fa-newspaper"></i>-->
                            <!--</div>-->

                            <!--<div id="portfolio-loader" class="loader" >-->
                                <!--<span></span>-->
                                <!--<span></span>-->
                                <!--<span></span>-->
                                <!--<span></span>-->
                            <!--</div>-->
                        <!--</figure>-->
                    <!--</section>-->
              <!---->
                    <!--<section class="loader-wrapper">-->
                        <!--<figure id="about-icon">-->

                            <!--<div class="loader-icon">-->
                                 <!--<i class="fab fa-earlybirds"></i>-->
                            <!--</div>-->

                            <!--<div id="about-loader" class="loader">-->
                                <!--<span></span>-->
                                <!--<span></span>-->
                                <!--<span></span>-->
                                <!--<span></span>-->
                            <!--</div>-->

                        <!--</figure>-->
                    <!--</section>-->
             <!---->
                   <!--<section class="loader-wrapper">-->
                       <!--<figure id="story-icon">-->


                       <!--<div class="loader-icon">-->
                            <!--<i class="fas fa-book-open"></i>-->
                       <!--</div>-->

                       <!--<div id="story-loader" class="loader" >-->
                           <!--<span></span>-->
                           <!--<span></span>-->
                           <!--<span></span>-->
                           <!--<span></span>-->
                       <!--</div>-->


                       <!--</figure>-->

                   <!--</section>-->
            <!---->
                    <!--<section class="loader-wrapper">-->
                        <!--<figure id="contact-icon">-->


                        <!--<div class="loader-icon">-->
                         <!--<i class="fas fa-phone-square"></i>-->
                        <!--</div>-->

                        <!--<div id="contact-loader" class="loader">-->
                            <!--<span></span>-->
                            <!--<span></span>-->
                            <!--<span></span>-->
                            <!--<span></span>-->
                        <!--</div>-->

                        <!--</figure>-->
                    <!--</section>-->
        <!--</div>-->



    </section>


    <script src="../scripts/keyboard-map/keyboard-map.js"></script>
    <script src="../scripts/index.js"></script>



    <!--SCROLL TOP IN MODERN BROWSERS -->
    <!--https://github.com/nuxt/nuxt.js/issues/2512#issuecomment-358215583-->
    <script>

    </script>

</body>
</html>