<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>| Prolet Dev |</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../public/index.css">
    <link rel="stylesheet" type="text/css" href="../style/sass/header.scss">
    <link rel="stylesheet" type="text/css" href="../style/sass/about.scss">
    <link rel="stylesheet" type="text/css" href="../style/sass/landing/controller.scss">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
</head>
<body id="body">

    <nav class="nav-bar">
        <div class="logo">
            <img src="../img/kisspng-wu-tang-wu-tang-clan-logo-wu-tang-forever-tang-5ae0345013fd09.9009980915246428960819.png" alt="">
        </div>

       <div class="links-container">
           <div class="row nav-row">
               <div class="col nav-col">
                   <button id="home-link" onclick="nav_link_loc(this.id)">
                       <a href=""> Home</a>
                   </button>
               </div>

               <div class="col nav-col">
                   <div id="show-about-area">
                       <button id="about-link">
                           <a>About</a>
                       </button>
                   </div>

                   <div id="about-link-sub-menu">

                       <button class="about-button">
                           <a href="http://localhost:8080/about/mixes">Mixes</a>
                       </button>

                       <button>
                           <a href="http://localhost:8080/about/heroes">ACBA</a>
                       </button>

                       <button>
                           <a href="">Food</a>
                       </button>

                       <button>
                           <a href="http://localhost:8080/about/travel">Travel</a>
                       </button>
                   </div>
               </div>

               <div class="col nav-col">
                   <button>
                       <a href="http://localhost:8080/#projects">Projects</a>
                   </button>
               </div>

               <div class="col nav-col">
                   <button>
                       <a>Contact</a>
                   </button>
               </div>
           </div>
       </div>
    </nav>


    <div id="main" >
        <!--DO NOT DELETE THESE!!!!!-->
        <div id="black-bg"></div>
        <div id="main-bg-img" >
            <img src="../img/pawel-czerwinski-1020731-unsplash.jpg" alt=""/>
        </div>

        <h1 id="title-index">Welcome to ProletDev</h1>
    </div>

    <div id="about">
        <section class="dev-profile-container">
            <article id="bio-container">
                <div class="stats">
                    <h1 class="about-title">ABOUT</h1>

                    <ul>
                        <li>
                            <span class="highlighter">Name</span> : Tim Ocampo
                        </li>
                        <li>
                            <span class="highlighter">Position</span> : Front-end Web Developer & Web Designer
                        </li>
                        <li>
                            <span class="highlighter">Hometown</span> : Redwood City , CA
                        </li>

                        <li>
                            <span class="highlighter">Experience</span> : 2017 - Present
                        </li>
                    </ul>
                </div>

                <div class="profile-image">
                    <img src="../img/anna-goncharova-73258-unsplash%20copy.jpg" alt=""/>
                </div>
            </article>

            <article id="abilities-container">
                <!--Thinking about turning this into an accordion menu later to display a snap shot of the sites before user visits. -->
                <div class="abilities-item">
                    <h1 id="projects" class="about-headers">Projects</h1>


                    <div class="project-item">
                        <div class="project-icon">
                            <i class="fas fa-angle-down faded-cyan"></i>
                        </div>
                        <div class="project-text" >
                            <h3>DevConnector</h3>
                            <p>A React Project with login , registration, and social feed.  </p>
                        </div>
                    </div>

                    <div class="project-item">

                        <div class="project-icon">
                            <i class="fas fa-angle-down faded-cyan"></i>
                        </div>

                        <div class="project-text" >
                            <h3>Dom's Noms</h3>
                            <p>Single-page-app built wth React + Redux client's BBQ catering service.</p>
                        </div>

                    </div>

                    <div class="project-item">
                        <div class="project-icon">
                            <i class="fas fa-angle-down faded-cyan"></i>
                        </div>
                        <div class="project-text" >
                            <h3>Mostajo Photography</h3>
                            <p>Site built with React. </p>
                        </div>
                    </div>


                    <div class="project-item">
                        <div class="project-icon">
                            <i class="fas fa-angle-down faded-cyan"></i>
                        </div>
                        <div class="project-text" >
                            <h3>SB Sit N' Stay</h3>
                            <p>A React + Redux site for my wife's dog sitting service.</p>
                        </div>

                    </div>
                </div>

                <div class="abilities-item">
                    <h1 class="about-headers">Skills</h1>
                    <div class="row">
                        <div class="list">
                            <h3></h3>
                            <ul>
                                <li>JavaScript</li>
                                <li>HTML</li>
                                <li>CSS</li>
                                <li>Sass</li>
                                <li>ES6</li>
                                <li>jQuery</li>
                            </ul>
                        </div>

                        <div class="list">
                            <ul>
                                <li>Node</li>
                                <li>mongoDB</li>
                                <li>mongoose</li>
                                <li>REST API</li>
                                <li>AJAX</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="abilities-item">
                    <h1 class="about-headers">Arsenal</h1>
                    <div class="row">
                        <div class="list">

                            <ul>
                                <li><h5>FRAMEWORKS</h5></li>
                                <li>React</li>
                                <li>Redux</li>
                                <li>Express</li>
                                <li>Bootstrap</li>
                            </ul>
                        </div>

                        <div class="list">
                            <ul>
                                <li><h5>TOOLS</h5></li>
                                <li>Git</li>
                                <li>Webpack</li>
                                <li>Babel</li>
                                <li>React Router</li>
                                <li>GIMP</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </article>

            <!--    PERSONAL SECTION-->

            <article id="personal">
                <div class="personal-container">
                    <div class="personal-text">
                        <h1 class="personal-headers">Personal</h1>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
                        </p>

                    </div>

                    <div class="personal-img">
                        <img src="https://i.ibb.co/MCR3WDg/bobby-t-II.jpg" alt="">
                    </div>

                    <div class="personal-img">
                        <img src="https://i.ibb.co/zQBSHtg/Daredevil-The-Blind-Devil-Shirt.png" alt="">
                    </div>

                    <div class="personal-img">
                        <img src="https://i.ibb.co/tx8rTqj/tims-pad-thai-01.png" alt="">
                    </div>
                </div>

                <div id="controller-container">
                    <!--Part I -->
                    <img src="../img/SNES_controller-removed-font3-holes.png" alt="">

                    <!--Part II -->
                    <div class="controller-btn-container">
                        <div id="y" class="btn y" onclick="snesRedirect(this.id)"></div>
                        <div id="x" class="btn x" onclick="snesRedirect(this.id)"></div>
                        <div id="b" class="btn b" onclick="snesRedirect(this.id)"></div>
                        <div id="a" class="btn a" onclick="snesRedirect(this.id)"></div>
                    </div>

                    <!--Part III -->
                    <div class="lasers">

                        <div class="beam-one">
                            <div class="text-one">
                                <p>Mixes</p>
                            </div>
                        </div>

                        <div class="beam-two">
                            <div class="text-two">
                                <p>Heroes</p>
                            </div>
                        </div>

                        <div class="beam-three">
                            <div class="text-three">
                                <p>Cooking</p>
                            </div>
                        </div>

                        <div class="beam-four">
                            <div class="text-four">
                                <p>Travel</p>
                            </div>
                        </div>
                    </div>

                </div>

            </article>
        </section>
    </div>

    <script src="../scripts/keyboard-map/keyboard-map.js"></script>
    <script src="../scripts/index.js"></script>
</body>
</html>