<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>| My Mixes |</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../public/index.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous">
    </script>
</head>
<body>



    <section id="mixes">
        <div id="nav-tab">
            navigation
        </div>

        <nav id="nav-bar">
            <div class="logo">
                <img src="../img/kisspng-wu-tang-wu-tang-clan-logo-wu-tang-forever-tang-5ae0345013fd09.9009980915246428960819.png" alt="">
            </div>

            <ul>
                <li><a href="/">Home</a></li>
                <li>Story</li>
                <li><a href="/#about">About</a></li>
                <li>Contact</li>
            </ul>
        </nav>


        <div class="wrapper">
            <h1 class="title-right"> | MIXES |</h1>
            <div class="text">

                <h3>In a Previous life ..</h3>
                <p>I was a nightclub DJ through out college.
                    here's some logic lyrics: I get up (ty), I get up (ty) I get up, when I'm down
                    Had enough, almost drowned, when shit rough
                    I get tough and when I'm beaten to the ground
                    I get up, I get up
                    I get up, uh, uh, I get up, uh, uh
                    I get up, when I'm down
                    Had enough, almost drowned, when shit rough
                    I get tough and when I'm beaten to the ground
                    I get up, I get up
                    I get up, uh, uh, I get up, uh, uh, I get up
                </p>
            </div>

            <div class="tracks">

                <div class="audio-player track-01-title" data-value="0:00">

                    <button id="play-01">
                        <i class="far fa-play-circle"></i>
                    </button>

                    <div id="seek-bar-01">

                        <div class="fill-01"></div>

                        <div class="handle"></div>

                    </div>

                    <p>01 - Hip Pop MIx March 2019 - </p>
                </div>

                <div class="audio-player track-02-title">

                    <button id="play-02"><i class="far fa-play-circle"></i></button>

                    <div id="seek-bar-02">

                        <div class="fill-02"></div>

                        <div class="handle"></div>
                    </div>

                    <p>03 - DreamStep March 2019 - </p>
                </div>

                <div class="audio-player track-02-title">

                    <button id="play-02"><i class="far fa-play-circle"></i></button>

                    <div id="seek-bar-02">

                        <div class="fill-02"></div>

                        <div class="handle"></div>
                    </div>

                    <p>03 - DreamStep March 2019 - </p>
                </div>
            </div>
        </div>
    </section>

    <script src="../scripts/global.js/consts.js"></script>
    <script src="../scripts/index.js"></script>
    <script src="../scripts/navigation/header-navigation.js"></script>
    <script src="../scripts/navigation/tab-drop-navbar.js"></script>
    <script src="../scripts/music-player.js"></script>
    <script src="../scripts/global.js/reponsive-resize-req-anim-frame.js"></script>
</body>
</html>
