<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>| My Mixes |</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../../public/index.css" />

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />

    <script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <section id="mixes">
      <div id="nav-tab">
        navigation
      </div>

      <!--NAV-->
      <nav id="nav-bar">
        <ul class="nav-links">
          <li class="nav-links-item"><a href="/">Home</a></li>
          <li class="nav-links-item"><a href="/#projects">Projects</a></li>
          <li id="about-link" class="">
            <a>About</a>
            <i id="mixes-url"><a href="/about/mixes">Mixes</a></i>
            <i><a href="/about/acba">ACBA</a></i>
            <i id="travel-url"><a href="/about/travel">Travel</a></i>
            <i>Cooking</i>
          </li>
          <li id="contact-url" class="nav-links-item">
            <a href="/contact">Contact</a>
          </li>
        </ul>
      </nav>

      <div class="wrapper">
        <h1 class="title-right">| MIXES |</h1>
        <div class="text">
          <h3>DJ Mixes</h3>
          <br>
          <p>
            In a previous life, I worked as a nightclub DJ in Santa Barbara, CA for about 7 years. These days, it's a hobby of mine.
            I like use a wide array of equipment from Technic MK3's to Pioneer CDJ's and other Dj Controllers all in conjunction with
            software such as Serato and sometimes Ableton Live. I started out spinning vinyl as a funky and disco House Dj in the early 2000's spinning at underground warehouse
            parties in the San Francisco Bay Area . Since then, I moved to mixing hip hop & R&B, top 40 , rock , mash-ups, trap, moombah , twerk , progressive, dub-step, trance ,
            80's & 90's jams,  or any other tracks that get a dance floor to move. In any case, I see music and dance as a communal, fun way to get people together!
            <br><br>
            More mixes to come!
          </p>
        </div>

        <div class="tracks">
          <div class="audio-player track-01-title" data-value="0:00">
            <button id="play-01">
              <i class="far fa-play-circle"></i>
            </button>

            <div id="seek-bar-01">
              <div class="fill-01"></div>

              <div class="handle"></div>
            </div>

            <p>01 - Hip Pop MIx March 2019 -</p>
          </div>

          <div class="audio-player track-02-title">
            <button id="play-02"><i class="far fa-play-circle"></i></button>

            <div id="seek-bar-02">
              <div class="fill-02"></div>

              <div class="handle"></div>
            </div>

            <p>-</p> <!--Title here-->
          </div>

          <div class="audio-player track-02-title">
            <button id="play-02"><i class="far fa-play-circle"></i></button>

            <div id="seek-bar-02">
              <div class="fill-02"></div>

              <div class="handle"></div>
            </div>

            <p></p> <!--Title here-->
          </div>
        </div>
      </div>
    </section>

    <script src="../scripts/global.js/consts.js"></script>
    <script src="../scripts/navigation/header-navigation.js"></script>
    <script src="../scripts/navigation/tab-drop-navbar.js"></script>

    <script src="../scripts/music-player.js"></script>
    <script src="../scripts/global.js/reponsive-resize-req-anim-frame.js"></script>
  </body>
</html>
