<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../public/index.css">
    <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">-->


    <title> | Portfolio Projects |</title>
</head>
<body>
    <nav class="nav-bar">
        <div class="logo">
            <img src="../img/kisspng-wu-tang-wu-tang-clan-logo-wu-tang-forever-tang-5ae0345013fd09.9009980915246428960819.png" alt="">
        </div>

        <ul>
            <li>Home</li>
            <li>Story</li>
            <li>About</li>
            <li>Contact</li>
        </ul>
    </nav>

    <div id="portfolio">
        <div id="portfolio-bg">
            <div class="stars"></div>
            <div class="stars1"></div>
            <div class="stars2"></div>
            <div class="shooting-stars"></div>
        </div>

        <div class="flex-container" style="
            position: relative;
            display: flex;
            z-index: 10;
            height: 100vh;
            width: 100vw;
            /*background-color: yellow;*/
            /*opacity: .1;*/
            /*border: 5px red solid;*/

            ">

            <div class="portfolio-text"
                 style="
                 display: flex;
                 flex-direction: column;
                 justify-content: center;
                 padding: 10px;
                 align-items: center;
                 height: 100vh;
                 width: 300px;
                 flex-basis: 40%;
                 color: white;
                 /*border: 1px lime dotted;*/

                 /*background-color: #f26522;*/
                 /*opacity: .1;*/">
                <h1 style="display: block" >| PORTFOLIO |</h1>


                <p>
                    This is some Text This is some Text This is some Text This is some Text
                    This is some Text This is some Text This is some Text This is some Text
                    This is some Text This is some Text This is some Text This is some Text
                </p>

            </div>


            <!-- Portfolio Images Cube-->
            <div class="portfolio-tiles">

                <section class="three-d-container">
                    <input type="radio" checked class="three-d-bullet a" name="three-d">
                    <input type="radio" class="three-d-bullet b" name="three-d">
                    <input type="radio" class="three-d-bullet c" name="three-d">
                    <input type="radio" class="three-d-bullet d" name="three-d">
                    <input type="radio" class="three-d-bullet e" name="three-d">
                    <input type="radio" class="three-d-bullet f" name="three-d">
                    <div class="three-d-cube">
                        <figure class="three-d-item">
                            <img src="../img/doms-noms.png" alt="">
                        </figure>
                        <figure class="three-d-item">
                            <img src="../img/optimus.jpg" alt="">
                        </figure>
                        <figure class="three-d-item">
                            <img src="http://lorempixel.com/500/500/food/3" alt="">
                        </figure>
                        <figure class="three-d-item">
                            <img src="http://lorempixel.com/500/500/food/4" alt="">
                        </figure>
                        <figure class="three-d-item">
                            <img src="http://lorempixel.com/500/500/food/5" alt="">
                        </figure>
                        <figure class="three-d-item">
                            <img src="http://lorempixel.com/500/500/food/6" alt="">
                        </figure>
                    </div>
                </section>




            </div>

        </div>


    </div>


    <!--<section id="portfolio">-->
        <!--<h1>THIS IS THE PORTFOLIO PAGE</h1>-->
    <!--</section>-->


    <script src="../scripts/keyboard-map/keyboard-map.js"></script>

</body>
</html>