<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>| TRAVEL |</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../../public/index.css" />

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div id="nav-tab">
      navigation
    </div>

    <nav id="nav-bar">
      <ul class="nav-links">
        <li class="nav-links-item"><a href="/">Home</a></li>
        <li class="nav-links-item"><a href="/#projects">Projects</a></li>
        <li id="about-link" class="">
          <a>About</a>
          <i id="mixes-url"><a href="/about/mixes">Mixes</a></i>
          <i>ACBA</i>
          <i id="travel-url"><a href="/about/travel">Travel</a></i>
          <i>Cooking</i>
        </li>
        <li id="contact-url" class="nav-links-item">
          <a href="/contact">Contact</a>
        </li>
      </ul>
    </nav>

    <section class="gallery-travel" data-value="Gallery">
      <div class="gallery-travel__container">
        <div class="gallery-travel__row">
          <div class="gallery-travel__column">
            <figure class="gallery-travel__image">
              <img
                id="1"
                name="mars-rover-proto"
                src="https://i.ibb.co/4g2CVWz/IMG-20190224-170820.jpg"
                alt=""
                onclick="loadImg(this.id)"
              />
            </figure>

            <img
              id="2"
              class="gallery-travel_image"
              name="magic-kingdom-castle"
              src="https://i.ibb.co/SB3GDvx/IMG-20190222-185550.jpg"
              alt=""
              onclick="handleImgClick(this.id)"
            />
            <img
              id="3"
              class="gallery-travel_image"
              name="maxx"
              src="https://i.ibb.co/sFhDvRr/MAXX-PINK.png"
              alt=""
              onclick="loadImg(this.id)"
            />
            <img
              id="4"
              class="gallery-travel_image"
              name="rocket-01"
              src="https://i.ibb.co/k2X6ctX/IMG-20190224-155314.jpg"
              alt=""
              onclick="loadImg(this.id)"
            />
            <img
              id="5"
              class="gallery-travel_image"
              name="cockpit-01"
              src="https://i.ibb.co/VqS8Ryz/IMG-20190224-160733.jpg"
              alt=""
              onclick="loadImg(this.id)"
            />
            <img
              id="6"
              class="gallery-travel_image"
              name="nasa-entrance"
              src="https://i.ibb.co/VpBRMBK/IMG-20190224-141013.jpg"
              alt=""
              onclick="loadImg(this.id)"
            />
            <img
              id="7"
              class="gallery-travel_image"
              name="rocket-portrait"
              src="https://i.ibb.co/Lgc9bfF/IMG-20190224-152505.jpg"
              alt=""
              onclick="loadImg(this.id)"
            />
          </div>

          <div class="gallery-travel__column">
            <img
              id="8"
              class="gallery-travel_image"
              name="rocket-02"
              src="https://i.ibb.co/VD4gFTg/IMG-20190224-142143.jpg"
              alt=""
              onclick="loadImg(this.id)"
            />
            <img
              id="9"
              class="gallery-travel_image"
              name=""
              src="https://i.ibb.co/RDdXMLL/Seek-Png-com-gorillaz-png-2405094.png"
              alt=""
              onclick="loadImg(this.id)"
            />
            <img
              id="10"
              class="gallery-travel_image"
              name=""
              src="https://i.ibb.co/fvQWNzX/IMG-20190224-161115.jpg"
              alt=""
              onclick="loadImg(this.id)"
            />
            <img
              id="11"
              class="gallery-travel_image"
              name=""
              src="https://i.ibb.co/9vwXWfB/noodle-phase-1-by-xxsuperfire-d6n548q.png"
              alt=""
              onclick="loadImg(this.id)"
            />
            <img
              id="12"
              class="gallery-travel_image"
              name="jellyfish-01"
              src="https://i.ibb.co/L5qpRcd/20171103-104405.jpg"
              alt=""
              onclick="loadImg(this.id)"
            />
            <img
              id="13"
              class="gallery-travel_image"
              name="octopus"
              src="https://i.ibb.co/4F64f90/20171103-110742.jpg"
              alt=""
              onclick="loadImg(this.id)"
            />
            <img
              id="14"
              class="gallery-travel_image"
              name="pink-thing"
              src="https://i.ibb.co/RypCh7w/20171103-104736.jpg"
              alt=""
              onclick="loadImg(this.id)"
            />
          </div>
          <div class="gallery-travel__column">
            <img src="https://picsum.photos/200/300/?image=123" alt="" />
            <img src="https://picsum.photos/200/300/?image=53" alt="" />
            <img src="https://picsum.photos/200/300/?image=18" alt="" />
            <img src="https://picsum.photos/200/300/?image=8" alt="" />
            <img src="https://picsum.photos/200/300/?image=13" alt="" />
            <img src="https://picsum.photos/200/300/?image=47" alt="" />
            <img src="https://picsum.photos/200/300/?image=87" alt="" />
          </div>
          <div class="gallery-travel__column">
            <img src="https://picsum.photos/200/300/?image=123" alt="" />
            <img src="https://picsum.photos/200/300/?image=53" alt="" />
            <img src="https://picsum.photos/200/300/?image=18" alt="" />
            <img src="https://picsum.photos/200/300/?image=8" alt="" />
            <img src="https://picsum.photos/200/300/?image=13" alt="" />
            <img src="https://picsum.photos/200/300/?image=47" alt="" />
            <img src="https://picsum.photos/200/300/?image=87" alt="" />
          </div>
        </div>
      </div>
    </section>

    <main id="travel">
      <figure class="initial-content">
        <h1 class="initial-content__title">Travel</h1>
        <img
          class="initial-content__image"
          src="../img/kevin-laminto-574456-unsplash.jpg"
          alt=""
        />
      </figure>

      <div class="travel-content-group">
        <section class="modal-travel">
          <div id="animate-img-a"></div>
          <div id="animate-img-b"></div>
        </section>
      </div>

      <section class="text-travel"></section>
    </main>

    <script src="../scripts/global.js/consts.js"></script>
    <script src="../scripts/navigation/header-navigation.js"></script>
    <script src="../scripts/navigation/tab-drop-navbar.js"></script>
    <script src="../scripts/travel.js"></script>
  </body>
</html>
