

//#portfolio-icon{
//  transform: rotate(-44deg);
//}

.tiles-wrapper{
  display: flex;
  justify-content: center;
  position: fixed;
  top: 7em;
  z-index: 1000;
  width: 100%;

}



#get-started{
  position: fixed;
  display: flex;
  background-color: #141618;
  z-index: 10;
  height: 50px;
  width: 500px;
  top: 13%;
  left: 38px;

  transition: 1s ease-in-out;


  h1{
    margin: 0;
    line-height: 55px;
    text-indent: 36px;
    color:#fe00c8;
    font-family: Alcubierre;
    letter-spacing: 3px;
  }

  .bars{
    display: flex;
    width: 30%;
    padding: 1px;
    padding-bottom: 4px;
    padding-left: 20px;


  }

  .bars > div{
    border: 0.25px black solid;
    background-color: #999999;

    height: 100%;
    width: 15px;
    margin: 2px;
    transform: skew(-37deg, 0deg)



  }
};


.loader-wrapper{
  //display: flex;
  //left: 44px;
  //bottom: 43px;
  //position: absolute;

}

.loader-icon{
  position: absolute;
  height: 60px;
  width: 60px;
  z-index: 10;
  text-align: center;
  font-size: 25px;

  @media only screen and(min-width: 768px) {
    font-size: 100px;
  }



  border-radius: 50%;

  i{
    transform: translate(0% , 50%);
  }
}

//Individual icons
#portfolio-icon, #about-icon, #story-icon , #contact-icon{
  transform: rotate(-44deg);
}




#tiles{

  left: 120px;
  width: 205px;
  flex-wrap: wrap;
  flex-direction: row;
  background: #0072bc;
  transform: rotate(90deg);
  //width: 500px;
  //height: 500px;
  //
  //transform: rotate(45deg);



  transition: 1s ease-in-out;
  z-index: 11;


  color: #FFFFFF;


  /* display: flex; */
  @media only screen and(min-width: 768px) {
    display: flex;
    transform: rotate(45deg);
  }


  .row{
    position: relative;
    width: 100%;
    height: 50%;

  }

  //.col{
  //  position: absolute;
  //  display: inline-block;
  //  height: 100%;
  //  width: 50%;
  //  border: 1px #666666 solid;







  //} //  <============================END OF COL ====================================>


  //<==========   Change spinner speed when tile is hovered ==========>
  .col-one:hover section figure > #portfolio-loader{
    animation: animate 0.5s linear infinite;
  }

  .col-two:hover section figure > #about-loader{
    animation: animate 0.5s linear infinite;
  }

  .col-three:hover section figure > #story-loader{
    animation: animate 0.5s linear infinite;
  }

  .col-four:hover section figure > #contact-loader{
    animation: animate 0.5s linear infinite;
  }


  //<==========   Individual Tile Styling ==========>


  //    Tile 01 - Portfolio
  .col-one{
    background: radial-gradient(#5b8ec7, black);
    transform: scale3d(1,1,1) translate(0% , 0%);
    z-index: 1;
    -webkit-transition: transform 0.25s; /*name of attr you want to toggle and time*/
    left: 0;
    width: 49.7%;
  }

  .col-one:hover{
    background: radial-gradient(#5b8ec7, black);
    cursor: pointer;

    /*onchange State*/
    transform: scale3d(1.05,1.05,1.05) translate(-1.5% , -1%);

    -webkit-transition: transform 0.25s;/*name of attr you want to toggle and time*/
    z-index: 10;

  }

  //    Tile 02 - About
  .col-two{
     background: radial-gradient(#25676f, black);
    transform: scale3d(1,1,1) translate(0% , 0%);
    right:0px;
    -webkit-transition: transform 0.25s; /*name of attr you want to toggle and time*/
  }

  .col-two:hover{
    background: radial-gradient(#25676f, black);
    cursor: pointer;

    /*onchange State*/
    transform: scale3d(1.05,1.05,1.05) translate(2% , -2%);
    /*left: 260px;*/
    right:-1.2px;
    z-index: 100;

    -webkit-transition: left, transform  0.25s;/*name of attr you want to toggle and time*/
  }

  //    Tile 03 - Story
  .col-three{
    background: radial-gradient(#10c1ce, black);

    /*Initial State*/
    transform: scale3d(1,1,1) translate(0% , 0%);

    -webkit-transition: transform 0.25s; /*name of attr you want to toggle and time*/
  }

  .col-three:hover{
    background: radial-gradient(#10c1ce, black);
    cursor: pointer;

    /*onchange State*/
    transform: scale3d(1.05,1.05,1.05) translate(-3% , 2%);
    z-index: 10;
    -webkit-transition: transform 0.25s;/*name of attr you want to toggle and time*/
  }

  //    Tile 03 - Contact
  .col-four{
    right: 0;
    background: radial-gradient(#006cff54, black);

    cursor: pointer;

    /*onchange State*/
    transform: scale3d(1.0,1.0,1.0) translate(0% , 0%);

    -webkit-transition: transform 0.25s;/*name of attr you want to toggle and time*/
  }

  .col-four:hover{
    background: radial-gradient(#006cff54, black);
    cursor: pointer;

    /*onchange State*/
    transform: scale3d(1.05,1.05,1.05) translate(2% , 2%);

    -webkit-transition: transform 0.25s;/*name of attr you want to toggle and time*/
    z-index: 10;
  }




  //<==========   Spinner Styling ==========>
  figure{
    //border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;

    //margin: 30px;
    margin: -1%;



    h3{
      margin-top: 9px;
      text-align: center;
    }

  }


  .loader{
    position: relative;

    height: 60px;
    width: 60px;

    @media only screen and(min-width: 768px){
      height: 100px;
      width: 100px;
    }


    border-radius: 50%;
    background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
    animation: animate
    1.5s
    ease-out
    0s
    alternate
    infinite
    none
    running;
    //see : https://css-tricks.com/almanac/properties/a/animation/


    span{
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
      opacity: .3;

      &:nth-child(1){
        filter: blur(1px);
      }

      &:nth-child(2){
        filter: blur(2px);
      }

      &:nth-child(3){
        filter: blur(5px);
      }

      &:nth-child(4){
        filter: blur(8px);
      }

    }


    &:after{
      content: '';
      position: absolute;
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      background: #151e2a;
      border-radius: 50%;

    }

    &:hover{
      animation: animate 0.5s linear infinite;
    }
  }

  @keyframes animate {
    0%{
      transform:rotate(0deg) ;
    }

    100%{
      transform:rotate(360deg) ;
    }
  }





}


//<==========   Element Entrance and Exit Animations ==========>
//ANIMATIONS for TILES when page loads


#blue-lines.hide-tiles{
  opacity: 0;
}

#blue-lines.show-tiles{
  opacity: 1;
}


#tiles.hide-tiles{
  opacity: 0;
}

#tiles.show-tiles{
  opacity: 1;
}



#tiles > *{
  flex-basis: 100px;
  //flex : 1 1 160px;
  height: 100px;
  border: 1px solid red
}


#get-started.shrink{

  transform: scale(0.2);
}



